/*通用弹框样式*/

/*弹框*/
#pi-alert, #pi-confirm {
    position: fixed;
    /*上下高度加大,防止无法全屏覆盖*/
    top: -200px;
    bottom: -200px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: #999;
    /*动画*/
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

/*显示弹出框*/
#pi-alert.visible, #pi-confirm.visible {
    visibility: visible;
    opacity: 1;
}

#pi-alert.visible .pi-box, #pi-confirm.visible .pi-box {
    -webkit-transform: none;
    transform: none;
}

/*弹框容器*/
#pi-alert .pi-box, #pi-confirm .pi-box {
    /*不用fixed定位,无法覆盖客户端的标题部分*/
    position: fixed;
    left: 50%;
    top: 50%;
    width: 290px;
    margin-left: -145px;
    margin-top: -150px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    /*动画*/
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

/*标题*/
#pi-alert .pi-head, #pi-confirm .pi-head {
    font-size: 18px;
    color: #333;
    padding-top: 15px;
}

/*信息*/
#pi-alert .pi-msg, #pi-confirm .pi-msg {
    padding: 15px 25px;
    line-height: 1.5;
    position: relative;
}

/*模拟下边框*/
#pi-alert .pi-msg:after, #pi-confirm .pi-msg:after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    bottom: 0;
    background: #eee;
    -webkit-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
}

/*按钮*/
#pi-alert [class^="pi-btn"], #pi-confirm [class^="pi-btn"] {
    display: inline-block;
    width: 40%;
    margin: 10px 5px;
    line-height: 1.6;
}

/*确定按钮*/
#pi-alert .pi-btn-ok, #pi-confirm .pi-btn-ok {
    color: #09f;
}

/*alert提示框-确定按钮*/
#pi-alert .pi-btn-ok {
    width: 85%;
}
